#conteneur {
    display: flex;
    justify-content: center;
    border: solid black 2px;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
}

.element1 {
    border: solid orange 2px;
    padding: 25px;
    border-radius: 10px;
}

.element2 {
    border: solid blue 2px;
    padding: 25px;
    border-radius: 10px;
}

.element3 {
    border: solid green 2px;
    padding: 25px;
    border-radius: 10px;
}

.element4 {
    border: solid purple 2px;
    padding: 25px;
    border-radius: 10px;
}

.element5 {
    border: solid yellow 2px;
    padding: 25px;
    border-radius: 10px;
}
;