* {
    box-sizing: border-box;
}

/* CSS pour la page Index */

body {
    background-image: linear-gradient(to right bottom, #fff5ff, #fbdffb, #f5c8f8, #efb2f4,
            #e89bf0, #e28aed, #dc79e9, #d567e6, #cf56e3, #c944df, #c32ddc, #bc00d8);
}

#MesTitres>h1 {
    color: white;
    font-family: "Roundy Rainbows", sans-serif;
    font-size: 9vw;
    justify-content: center;
    padding-left: 15%;
    transition: transform 1s;
}

#MesTitres>h1:hover {
    color: #C520ED;
    cursor: pointer;
    transform: scale(1.08);
}

#MesTitres>h2 {
    color: white;
    font-family: "Roundy Rainbows", sans-serif;
    font-size: 6vw;
    justify-content: center;
    padding-left: 25%;
    transition: transform 0.8s;
}

#MesTitres>h2:hover {
    color: #C520ED;
    cursor: pointer;
    transform: scale(1.05);
}

#Paragraphe2 {
    padding-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
}

#Paragraphe2>h1 {
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 3vw;
    justify-content: center;
    padding-left: 15%;
}

#Paragraphe2>h1:hover {
    color: #C520ED;
    cursor: pointer;
}

.T1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.T2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.T3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.T4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

#Paragraphe4 {
    padding-top: 10%;
}

#Paragraphe4>h1 {
    color: white;
    font-family: "Roundy Rainbows", sans-serif;
    font-size: 5vw;
    justify-content: center;
    padding-left: 15%;
}

#Paragraphe4>div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 100px;
    justify-content: center;
}

#Paragraphe4>div>a {
    border-radius: 50px;
    transition: transform .2s;
}

#Paragraphe4>div>a:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #C520ED;
}

#Paragraphe4>div>a>img {
    border-radius: 50px;
}

#Paragraphe4>img {
    display: block;
    height: 100px;
    width: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: auto;
    transition: transform 1s;
}

#Paragraphe4>img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.P4I1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.P4I2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.P4I3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.P4I4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.P4I5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.P4I6 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.P4I7 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.P4I8 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.P4I9 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}


#Paragraphe2>#I1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

#Paragraphe2>#I1>img {
    width: 900px;
}

#Paragraphe3 {
    color: white;
    font-family: "Fredoka", sans-serif;
    text-align: center;
    font-size: 1vw;
    padding-top: 10%;
}

#Paragraphe3>div>h1 {
    text-align: center;
    font-family: "Roundy Rainbows", sans-serif;
    font-size: 3vw;
}

#ImagesP3>img:first-child {
    width: 500px;
}

#ImagesP3>button {
    font-family: "Fredoka", sans-serif;
    text-align: center;
    border: none;
    border-radius: 50px;
    background-color: #F5C558;
    color: #C520ED;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

#ImagesP3>img:nth-child(3) {
    width: 400px;
}

.Header {
    display: flex;
    justify-content: flex-start;
}

.Header>div>a {
    width: 100px;
    margin-left: 25vw;
    font-family: "Inter", sans-serif;
    font-size: 1vw;
    color: white;
}

.Header>div>a:hover {
    color: #C520ED;
}

header>div>div>img {
    height: 100px;
    width: 100px;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: white;
    font-family: "Fredoka";
}

.footer-text-left>a {
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-right: 10px;
}

.footer-text-left {
    font-size: 25px;
    padding-left: 100px;
    float: left;
}

a.menu:active {
    color: black;
}

a.menu:visited {
    color: black;
}

a.menu:hover {
    background-color: #C520ED;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.footer-content-right {
    padding-right: 40px;
    margin-top: 20px;
    float: right;
}

.icon-style {
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

.icon-style:active {
    color: black;
}

.icon-style:visited {
    color: black;
}

.icon-style:hover {
    background-color: #C520ED;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
}








/* CSS pour la page Produit WindBreaker Noir */

#WBNoirPage {
    display: flex;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
}

@media(max-width:992px) {
    #WBI1 {
        width: 100%
    }

    .WBGroupe {
        width: 100%;
        align-items: flex-start;
    }

    #WBNoirPage {
        display: flex;
        flex-direction: column;
    }

}

#WBI1 {
    text-align: start;
    width: 50%;
    margin: 20px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

.WBP {
    text-align: start;
    /*width: 50%;*/
    margin: 10px;
    flex-direction: column-reverse;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: "Fredoka", 'medium';
    font-size: 1vw;
}

.WBGroupe {
    flex-direction: column;
    width: 50%;
    display: flex;
    align-content: flex-end;
    font-family: "Fredoka", 'medium';
    color: white;
}

#WBNoirPage>div>img {
    border-radius: 50px;
}

#WBButton {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#WBNoirPage>div>div>div>button {
    font-family: "Fredoka", sans-serif;
    border: none;
    border-radius: 50px;
    background-color: #F5C558;
    color: #C520ED;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    margin: 10px 10px;
}

#WBButton>button {
    font-family: "Fredoka", sans-serif;
    /*text-align: end;*/
    border: none;
    border-radius: 50px;
    background-color: #F5C558;
    color: #C520ED;
    padding: 15px 32px;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 25px;
    margin: 10px 10px;
    cursor: pointer;
}

#WBNoirPage>div>div>div>input {
    background-color: white;
    font-family: "Fredoka", sans-serif;
    /*text-align: end;*/
    border: none;
    border-radius: 50px;
    color: #C520ED;
    padding: 15px 32px;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 25px;
    cursor: pointer;
}

#WBNoirPage>div>h1 {
    font-size: 4vw;
    text-align: end;
    font-family: "Fredoka", 'medium';
}

#WBNoirPage>div>h2 {
    font-size: 3vw;
    text-align: end;
    font-family: "Fredoka", 'medium';
}

#WBNoirPage>div>h3 {
    font-size: 2vw;
    text-align: end;
    font-family: "Fredoka", 'medium';
}









/* Page Contact */

.ContactQuestion {
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 3vw;
    text-align: center;
    margin: 59px;
}

.ZdT1,
.ZdT2 {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 1vw;
}

.ZdT1>textarea,
.ZdT2>textarea {
    resize: none;
    border: solid white;
    background-color: transparent;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-family: "Fredoka", sans-serif;
}

.ContactButtonClass {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.ContactButton {
    font-family: "Fredoka", sans-serif;
    text-align: center;
    border: none;
    border-radius: 27px;
    background-color: #F5C558;
    color: #C520ED;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

::placeholder {
    color: white;
    font-size: 1vw;
    font-family: "Fredoka", sans-serif;
}







